.links {
    padding-top: 10px;
    display: block;
}

.user_links {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.social_login {
    display: flex;
}

.link {
    padding-right: 10px;
}