/* Styling for the pop up component - we will probably want to move this / redo all styling later */

.popup {
    /*position: fixed;*/
    z-index: 1;
    width: 100%;
    height: 100%;
}

.popup_content {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.header {

}

.description {

}

.close_button {

}

.close_span {
    color: Black;
    float: right;
}
  
.close_span:hover {
    color: red;
    cursor: pointer;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: black;
}
  