.quiz {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid black;
    background-color: #FDFF85;
}

.divider {
    background-color: black;
    height: 0.5px;
    border: none;
    margin: 0 10%;
}

.options_container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0 40px;
}

.option_button {
    flex-basis: 40%;
    margin: 3px;
    /* background-color: #E4E4E4; */
}

.nav_buttons_container {
    display: flex;
    justify-content: space-between;
}